<h1>Listing Home</h1>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<div class="container">
    <div class="row">
        <% @post.each do |post| %>
        <div class="col-md-4">
            <div class="ui card">
                <div class="thumbnail">
                    <%= image_tag post.post_picture %>
                </div>
                <div class ="content">
                  <%= link_to 'Address: '+post.post_address, post, class:"header" %>
                <div class="description">
						      Phone: <%= post.post_phone %>
					      </div>
          			<div class="description">
          				User ID: <%= post.user_id %>
          			</div>
          			<div class="description">
          				Type: <%= post.post_type %>
          			</div>
          			<div class="description">
          				Intro: <%= post.post_intro %>
          			</div>
          			<hr>
          			<div class="description">
          				Price: <%= post.post_price %>$
          			</div>
                </div>
                
            </div>
        </div>
        <% end %>
        
    </div>

</div>